<main>
  <div>
    <mat-toolbar color="primary">
      <span>Hardware Asset Management</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/">Home</button>
      <button mat-button *ngIf="!isLoggedIn()" routerLink="/login">Login</button>
      <button mat-button *ngIf="!isLoggedIn()" routerLink="/signup">Signup</button>
      <button mat-button *ngIf="isLoggedIn()" (click)="onLogout()">Logout</button>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</main>
