<!-- <h2 mat-dialog-title>{{ data.mode === 'add' ? 'Add Hardware' : 'Edit Hardware' }}</h2>
<mat-dialog-content>
  <form [formGroup]="hardwareForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Serial Number</mat-label>
      <input matInput formControlName="serialNumber" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option value="AVAILABLE">Available</mat-option>
        <mat-option value="ISSUED">Issued</mat-option>
        <mat-option value="UNDER_MAINTENANCE">Under Maintenance</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions> -->
<h2 mat-dialog-title>{{ data.mode === 'add' ? 'Add Hardware' : 'Edit Hardware' }}</h2>

<mat-dialog-content>
  <form [formGroup]="hardwareForm">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Serial Number</mat-label>
      <input matInput formControlName="serialNumber" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>KPIT Serial Number</mat-label>
      <input matInput formControlName="kpitSerialNumber">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Part Number</mat-label>
      <input matInput formControlName="partNumber">
    </mat-form-field>

<div class="form-section">
  <mat-slide-toggle formControlName="multiModule">Multi Module</mat-slide-toggle>
</div>

<div class="form-section">
  <mat-slide-toggle formControlName="unusable">Unusable</mat-slide-toggle>
</div>



    <mat-form-field appearance="outline">
      <mat-label>Purchase Date</mat-label>
      <input matInput type="date" formControlName="purchaseDate">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option value="AVAILABLE">Available</mat-option>
        <mat-option value="ISSUED">Issued</mat-option>
        <mat-option value="UNDER_MAINTENANCE">Under Maintenance</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
