.issue-return-container {
  padding: 20px;
  
}
.tab-content {
  margin-top: 20px;
}
table {
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: black;
}
::ng-deep .mat-form-field-label {
  color: black;
}
::ng-deep .mat-input-element::placeholder {
  color: black;
  opacity: 1; /* Ensure the color is visible */
}
.issue-button {
  background-color: green;
  color: white;
}
.return-button {
  background-color: red;
  color: white;
}
.mat-button {
  margin: 5px;
}
.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.user-info {
  display: flex;
  flex-direction: column;
}
