<!-- <div class="user-requests">
    <h2>User Requests</h2>
  
    <mat-table [dataSource]="requests">
      
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let request">{{ request.id }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let request">{{ request.name }}</mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let request">{{ request.email }}</mat-cell>
      </ng-container>
  
   
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let request">
          <button mat-raised-button color="primary" (click)="onApprove(request)">Approve</button>
          <button mat-raised-button color="warn" (click)="onReject(request)">Reject</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>-->
  <mat-card class="upcoming-feature-card">
  <mat-icon>build_circle</mat-icon>
  <h2>User Profile Request</h2>
  <p>This feature is currently under development and not yet available. We're working behind the scenes to bring it to life—stay tuned!</p>
</mat-card>
