<page-header></page-header>
<div class="admin-dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/admin-dashboard/overview" routerLinkActive="active-link">
          <mat-icon>dashboard</mat-icon>
          <span class="nav-text">Dashboard</span>
        </a>
        <a mat-list-item routerLink="/admin-dashboard/users" routerLinkActive="active-link">
          <mat-icon>people</mat-icon>
          <span class="nav-text">Users Management</span>
        </a>
        <a mat-list-item routerLink="/admin-dashboard/issue-return" routerLinkActive="active-link">
          <mat-icon>assignment</mat-icon>
          <span class="nav-text">Issue/Return</span>
        </a>
        <a mat-list-item routerLink="/admin-dashboard/hardware/management" routerLinkActive="active-link">
          <mat-icon>hardware</mat-icon>
          <span class="nav-text">Hardware</span>
        </a>
        <a mat-list-item routerLink="/admin-dashboard/Search" routerLinkActive="active-link">
          <mat-icon>Search</mat-icon>
          <span class="nav-text">Search</span>
        </a>
        <a mat-list-item routerLink="/admin-dashboard/request" routerLinkActive="active-link">
          <mat-icon>assignment_return</mat-icon>
          <span class="nav-text">Request</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<page-footer></page-footer>