<div class="container">
    <div class="form-section">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Register Form</mat-card-title>
        </mat-card-header>
  
        <mat-card-content [formGroup]="registerForm" class="form-content">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
              Field is required.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" color="accent">
            <mat-label>KPIT Emp ID</mat-label>
            <input matInput formControlName="kpitEmpId">
            <mat-error *ngIf="registerForm.get('kpitEmpId')?.hasError('required')">
              Field is required.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
              Field is required.
            </mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
              Invalid email.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Contact Number</mat-label>
            <input matInput formControlName="contactNumber">
            <mat-error *ngIf="registerForm.get('contactNumber')?.hasError('required')">
              Field is required.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
            <mat-error *ngIf="registerForm.get('location')?.hasError('required')">
              Field is required.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{hidePassword ? "visibility_off" : "visibility_on"}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
              Field is required.
            </mat-error>
          </mat-form-field>
        </mat-card-content>
  
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="register()">Register</button>
          <button mat-stroked-button color="primary" routerLink="/login">Already have an account? Login</button>
        </mat-card-actions>
      </mat-card>
      
      <div *ngIf="error" class="error-message">{{ error }}</div>
    </div>
  
    <div class="image-section">
      <img src="assets/SignUp.svg" alt="Description of Image">
    </div>
  </div>
  