.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px; // Space between form fields
 
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 50px;
  background: url('/assets/your-background-image.jpg') no-repeat center center fixed; 
  background-size: cover;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.error-message {
  color: red;
  margin-top: 16px;
  text-align: center;
}
.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.full-width {
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}