@import "../../../theme.scss";

:host {
  display: block;
  width: 400px;
}

mat-card {
  background-color: rgba(158, 161, 157, 0.291);
  color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Subtle shadow */
  mat-card-header {
    display: flex;
    justify-content: center;

    mat-card-title {
      font-size: 2rem;
      color: white;
    }
  }

  mat-form-field {
    width: 100%;
    padding-top: 1rem;
  }

  mat-card-actions {
    button {
      margin: auto;
      width: 80%;
    }

    h4 {
      margin: 0;
      padding-right: 1rem;
      color: white;
    }
  }
}
