.user-management {
    padding: 20px;
  }
  .search-bar {
    width: 500px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    height: 48px;
    
  }
  .spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  .tick-icon {
    color: #83ff33;
  }
  