<div class="video-background">
  <video autoplay muted loop>
    <source src="assets\background.mp4"  type="video/mp4">
  </video>
</div>
<div class="content-overlay">
  <div class="container">
    <div class="image-section">
      <!-- <img src="assets/instagram_mockup.png" alt="Mockup"> -->
    </div>
    <div class="login-section">
      <login></login>
      <!-- <app-login></app-login> -->
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="image-section">
    <img src="assets/instagram_mockup.png" alt="Mockup" />
  </div>
  <div class="login-section"></div>
</div> -->
