<!-- <mat-toolbar color="primary">
    <span>Hardware Management Sytem</span>
    <span class="spacer"></span>
    <div class="user-info">
      
        <div class="name">Hi, Rajnish</div>
       
        <button mat-raised-button color="accent" routerLink="/profile">Profile</button>
        <button mat-raised-button color="warn" >Log Out</button>
    </div>
</mat-toolbar> -->
<mat-toolbar class="header-toolbar">
  <span class="heading">Hardware Management System</span>
  <span class="spacer"></span>
  <button mat-button class="header-button">Log In</button>
  <button mat-button class="header-button">Sign Up</button>
</mat-toolbar>
